{% extends "layout.html" %}

{% block heading %}
    Segunda Pagina
{% endblock %}

{% block body %}

            <p>Ut tincidunt cursus iaculis. Vivamus a dolor semper, tincidunt velit eu, varius augue.
              Pellentesque ullamcorper eleifend ipsum, sed molestie purus posuere ac.
              Pellentesque est sem, aliquet sed orci et, congue interdum risus.
              Integer bibendum ac ipsum in semper. Praesent posuere nunc odio.
              Mauris bibendum diam nibh, ac rhoncus enim tincidunt in.</p>


            <a href="{{ url_for('index') }}">Regresar...</a>

{% endblock %}
